.carousal-container {
  padding-bottom: 3rem;

  // for styling carousal indicators
  & [data-bs-target] {
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    background-color: var(--app-primary) !important;
    border: none !important;
    opacity: 0.2;
    margin: 0 0.25rem !important;
  }

  & [data-bs-target].active {
    width: 16px !important;
    opacity: 1;
    border-radius: 8px !important;
  }

  .carousel-item {
    padding: 0 0.25rem;
  }
}
