.recent-trasaction-container {
  display: flex;
  flex-direction: column;
  padding: 0px !important;
  border-radius: 0px 0px 8px 8px;

  .recent-transaction-item {
    margin: 0 1.5rem;
    padding: 1.25rem 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:not(:nth-last-child(2)) {
      border-bottom: 1px solid #f5f5f5;
    }

    .transaction-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 0.25rem;

      .transaction-name {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #222222;
      }

      .transaction-date {
        font-size: 0.8125rem;
        line-height: 1.125rem;

        color: #aaaaaa;
      }

      .transaction-status {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        color: #325baf;

        margin-top: 0.5rem;

        .status-icon {
          background-color: #325baf;
          height: 1.25rem;
          width: 1.5rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .transaction-icon {
      padding: 1rem;
      margin-right: 0.75rem;
      align-self: flex-start;

      border-radius: 50%;
      line-height: 1rem;

      &.file-storage {
        background-color: #009dff1a;
      }

      &.flight {
        background-color: #00d6b51a;
      }

      &.megaphone {
        background-color: #f251951a;
      }
    }

    .transaction-amount {
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.125rem;
      white-space: nowrap;

      &.credited {
        color: var(--app-primary);
      }
    }

    .next-icon {
      margin: 0.2rem 0 0 0.65rem;
      align-self: flex-start;
    }
  }

  .view-all-transactions {
    background-color: #edfff5;
    border: 1px solid #ddffec;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;

    color: var(--app-primary);
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
}
